section {
  background-color: #fafcfc; }

.rested,
.about {
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px; }

.wrapper-home {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1120px; }

.wrapper-home:after {
  content: "";
  display: table;
  clear: both; }

.wrapper-home.bottom {
  display: flex;
  flex-wrap: wrap;
  max-width: 1440px; }

footer .footer-home {
  width: 80%;
  text-align: center;
  margin: 100px auto; }

footer .footer-home:after {
  content: "";
  display: table;
  clear: both; }

footer .footer-home h1 {
  margin-top: 0 !important;
  font-size: 24px !important;
  line-height: 33px !important;
  color: #111111 !important;
  letter-spacing: 0.26px; }

footer .footer-home p {
  margin-top: 13px !important;
  font-size: 16px !important;
  line-height: 30px !important;
  color: #333333 !important;
  letter-spacing: 0.26px; }


.container-home {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1120px;
  padding: 60px 0 60px 0;
  background-color: #fcfcfcfc;
  overflow: hidden;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.container-home.top {
  background-color: unset; }

.container-home.top .description {
  margin-top: 232px;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 0;
  box-sizing: border-box; }

.container-home.top .description h1 {
  margin-top: 0 !important;
  font-size: 30px !important;
  line-height: 42px !important;
  color: #111111 !important; }

.container-home.top .description p {
  margin-top: 0 !important;
  font-size: 16px !important;
  line-height: 30px !important;
  color: #333333 !important;
  padding-top: 10px;
  letter-spacing: 0.17px; }

.container-home.top .description p a {
  color: #333333;
  border-bottom: 1px solid #CCCCCC;
  display: inline;
  position: relative;
  overflow: hidden; }

.container-home.top .image {
  margin-top: 61px;
  width: 50%;
  text-align: right;
  padding: 0;
  box-sizing: border-box; }

.container-home.top .image img {
  margin-right: 65px;
  width: 100%;
  max-width: 205px; }

.container-home.above .image {
  width: 50%;
  padding: 0;
  box-sizing: border-box; }

.container-home.above .image img {
  width: 100%;
  max-width: 280px;
  height: auto;
  float: right;

}

.container-home.above .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  float: left;
  box-sizing: border-box; }

.container-home.above .description h2 {
  margin-top: 0 !important;
  font-size: 24px !important;
  line-height: 33px !important;
  color: #111111 !important;
  letter-spacing: 0.26px; }

.container-home.above .description p {
  margin-top: 5px !important;
  font-size: 16px !important;
  line-height: 25px !important;
  color: #333333 !important;
  letter-spacing: 0.17px; }

.container-home.bottom {
  flex-basis: 49.6%;
  padding: 50px 12.5%;
  padding-bottom: 0; }

.container-home.bottom.bottom:first-child {
  border-right: 10px solid #ffffff; }

.container-home.bottom .image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.container-home.bottom .image img {
  width: 100%;
  border-radius: 0px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.container-home.bottom .description {
  padding: 46px 0;
  width: 100%; }

.container-home.bottom .description h2 {
  margin-top: 0 !important;
  font-size: 24px !important;
  line-height: 33px !important;
  color: #111111 !important;
  letter-spacing: 0.26px; }

.container-home.bottom .description p {
  margin-top: 13px !important;
  font-size: 16px !important;
  line-height: 30px !important;
  color: #333333 !important;
  letter-spacing: 0.17px; }

.facebook .container-home.above .image img, .mailchimp .container-home.above .image img {
    width: 170%;
    margin-right: -65%;
}
@media screen and (min-width: 1700px) {
  .facebook .container-home.above .image img, .mailchimp .container-home.above .image img {
    width: 170%;
    margin-right: -85%; }  }
@media screen and (max-width: 992px) {
  .facebook .container-home.above .image img, .mailchimp .container-home.above .image img {
    width: 170%;
    margin-right: -55%;}
  .section a {
    font-size: 12px !important;
    margin-right: 5px !important; }
  .container-home.top {
    margin-top: 192px; }
  .container-home.top .description {
    padding: 0 10%; }
  .container-home.top .description p {
    margin-top: 0 !important;
    font-size: 14px !important;
    line-height: 22px !important;
    color: #333333 !important;
    padding-top: 20px; }
  .container-home.top .description .section a {
    font-size: 12px !important; }
  .container-home.top .image {
    padding: 0 10%; }
  .container-home.above .image {
    padding: 0 10%; }
  .container-home.above .description {
    width: 50%;
    padding: 0 10%; }
  .container-home.above .description h2 {
    margin-top: 0 !important;
    font-size: 20px !important;
    line-height: 28px !important;
    color: #111111 !important; }
  .container-home.above .description p {
    margin-top: 20px !important;
    font-size: 14px !important;
    line-height: 22px !important;
    color: #333333 !important; }
  .container-home.bottom {
    padding: 40px 10%; }
  .container-home.bottom .description h2 {
    margin-top: 0 !important;
    font-size: 20px !important;
    line-height: 28px !important;
    color: #111111 !important; }
  .container-home.bottom .description p {
    margin-top: 20px !important;
    font-size: 14px !important;
    line-height: 22px !important;
    color: #333333 !important; }
  footer .footer-home {
    margin: 50px auto; }
  footer .footer-home h1 {
    margin-top: 0 !important;
    font-size: 20px !important;
    line-height: 28px !important;
    color: #111111 !important; }
  footer .footer-home p {
    margin-top: 13px !important;
    font-size: 16px !important;
    line-height: 30px !important;
    color: #333333 !important;
    padding-top: 30px; } }

@media screen and (max-width: 768px) {
  .container-home.above .image img, .container-home.above .image img {
    width: 110%;
    margin-right: -15%; }
  .container-home.top {
    margin-top: 0; }
  .container-home.top .description {
    padding: 0 6%; }
  .container-home.top .description p {
    margin-top: 15px !important;
    font-size: 12px !important;
    line-height: 18px !important;
    color: #333333 !important;
    padding-top: 20px;
    margin-bottom: 15px; }
  .container-home.top .image {
    padding: 0 6%; }
  .container-home.top .image img {
    max-width: 150px; }
  .container-home.above .image {
    padding: 0 6%; }
  .container-home.above .image img {
    max-width: 200px; }
  .container-home.above .description {
    width: 50%;
    padding: 0 6%; }
  .container-home.above .description h2 {
    margin-top: 13px !important;
    font-size: 20px !important;
    line-height: 28px !important;
    color: #111111 !important; }
  .container-home.above .description p {
    margin-top: 20px !important;
    font-size: 14px !important;
    line-height: 22px !important;
    color: #333333 !important; }
  .container-home.bottom {
    padding: 40px 6%; }
  .container-home.bottom .description h2 {
    margin-top: 0 !important;
    font-size: 20px !important;
    line-height: 28px !important;
    color: #111111 !important; }
  .container-home.bottom .description p {
    margin-top: 20px !important;
    font-size: 14px !important;
    line-height: 22px !important;
    color: #333333 !important; }
  .section a {
    font-size: 13px; }
  footer .footer-home h1 {
    margin-top: 0 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    color: #111111 !important; }
  footer .footer-home p {
    margin-top: 0 !important;
    font-size: 16px !important;
    line-height: 30px !important;
    color: #333333 !important;
    padding-top: 20px; } }

@media screen and (max-width: 576px) {
  .wrapper-home {
    padding: 0; }
  .container-home.top {
    margin-top: 100px; }
  .container-home.top .description {
    margin-top: 20px;
    order: 2;
    width: 100%; }
  .container-home.top .description h1 {
    margin-top: 0 !important;
    font-size: 50px !important;
    line-height: 56px !important;
    color: #111111 !important; }
  .container-home.top .description p {
    margin-top: 15px !important;
    font-size: 18px !important;
    line-height: 28px !important;
    color: #333333 !important;
    padding-top: 20px;
    margin-bottom: 30px; }
  .container-home.top .description .section {
    text-align: center;
    display: flex;
    justify-content: space-around; }
  .container-home.top .description .section a {
    margin-top: 15px !important;
    font-size: 18px !important;
    line-height: 28px !important;
    color: #333333 !important; }
  .container-home.top .image {
    margin-top: 0;
    order: 1;
    width: 100%;
    text-align: center;
    padding: 0 10%; }
  .container-home.top .image img {
    margin-right: 0;
    width: 100%;
    max-width: 150px; }
  .container-home.above {
    margin: 20px auto; }
  .container-home.above .image {
    order: 1;
    width: 100%;
    padding: 0 10%;
    text-align: center; }
  .container-home.above .image img {
    width: 100%;
    max-width: 150px;
    float: unset;
    height: auto; }
  .container-home.above .description {
    margin-top: 20px;
    order: 2;
    width: 100%;
    padding: 0 10%; }
  .container-home.above .description h2 {
    font-size: 32px !important;
    line-height: 33px !important;
    text-align: center; }
  .container-home.above .description p {
    margin-top: 15px !important;
    font-size: 18px !important;
    line-height: 28px !important;
    color: #333333 !important;
    text-align: center; }
  .container-home.above .description .section {
    text-align: center; }
  .container-home.above .description .section a {
    margin-top: 15px !important;
    font-size: 18px !important;
    line-height: 28px !important;
    color: #333333 !important; }
  .container-home.bottom {
    flex-basis: 100%;
    width: 100%;
    padding: 40px 10% 20px 10%; }
  .container-home.bottom.bottom:first-child {
    margin-right: 0;
    border-right: none;
    border-bottom: 10px solid #ffffff; }
  .container-home.bottom .image {
    width: 100%; }
  .container-home.bottom .image img {
    width: 100%; }
  .container-home.bottom .description {
    padding: 30px 0;
    width: 100%; }
  .container-home.bottom .description h2 {
    font-size: 32px !important;
    line-height: 33px !important;
    text-align: center; }
  .container-home.bottom .description p {
    margin-top: 15px !important;
    font-size: 18px !important;
    line-height: 28px !important;
    color: #333333 !important;
    text-align: center; }
  .container-home.bottom .description .section {
    text-align: center; }
  .container-home.bottom .description .section a {
    margin-top: 15px !important;
    font-size: 18px !important;
    line-height: 28px !important;
    color: #333333 !important; }
  footer .footer-home {
    margin: 30px auto;
    margin-top: 113px;
    margin-bottom: 115px; }
  footer .footer-home h1 {
    text-align: center;
    margin-top: 0 !important;
    font-size: 32px !important;
    line-height: 33px !important;
    color: #111111 !important;
    margin-bottom: 16px; }
  footer .footer-home p {
    margin-top: 0 !important;
    font-size: 18px !important;
    line-height: 28px !important;
    color: #333333 !important; }
  .desc-image-logo {
    margin: 0 auto;
    margin-top: 20px; }
  ..container-home.above .image img, .container-home.above .image img {
    width: 110%;
    margin-right: -15%; }
}


.container-home.above .image img, .container-home.above .image img{
  max-width: none;
  height: auto;
}
.description {
  margin: 0 auto;
}

.container-home.above .image {
  padding-right: 15px;
}
.container-home.top {
  padding: 20px 0 130px 0;
  text-align: center;
}
.description .section a {
  line-height: 43px !important;
}

body {
    overflow-x: hidden;
}