body {
	font-family: 'apercu';
}
body#index{ background-color: #526CB8; }

body#about{ background-color: white; }

h1, h2 {
	font-family: 'apercu-bold';
	color: white;
}

/* animations */

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

@keyframes pulse {
    0% {
     transform: scale(1, 1);
    }

    25% {
      transform: scale(1.1, 1);
    }

    50% {
     transform: scale(1.2, 1.1);
    }

    90% {
    transform: scale(1, 1.2);
    }

    95% {
    transform: scale(1, 1.1);
    }

    100% {
    transform: scale(1, 1);
    }
}

#pulseAnimation {
    animation: pulse 6s linear infinite;
}

/* nanobar */

.nanobar .bar {
  		background:#FB9B8E;
}

/* container for home-jumbotron */
.container-fluid .home-jumbotron {
	padding-left: 30px;
}

.container-fluid h1 {
	font-size: 140px;
}

.vertical-center {
	/*min-height: 100%;*/
	min-height: 60vh; 
	display: flex;
	align-items: center;
}

/* home subheader */
.home-subheader {
	position: absolute;
	padding-left: 30px;
	padding-bottom: 10px;
}

.home-subheader h2 {
	font-family:'apercu-medium';
	font-size: 28px;
}

/* blobs */
.blob img {
	position: absolute;
	display: flex;
	padding: 0;
	bottom: 0;
	left: 0;
	max-height: 40%;
}

/* about wrapper */

.about-wrapper {
	padding-top: 50px;
	padding-bottom: 100px;
}

.about-wrapper h1 {
	font-size:100px;
	-webkit-text-stroke: 3px #526CB8;
	text-shadow:
     4px 4px 0 #FB9B8E;
}

.about-wrapper h2 {
	font-family: 'apercu';
	font-size: 20px;
	line-height: 30px;
	color: #454545;
}

.about-wrapper a#pink {
	color: #FB9B8E;
}

.about-wrapper a#pink:hover {
	color: #526CB8;
	text-decoration: none;
}

.about-wrapper a#blue {
	color: #526CB8;
}

.about-wrapper a#blue:hover {
	color: #FB9B8E;
	text-decoration: none;
}

button.about-button{
  padding: 0;
  color: #FB9B8E;
  background-color: white;
  border: none;
  outline: none;
}

.about-button i {
	padding-left: 2px;
	padding-right: 8px;
}

.about-button:hover {
	color: #526CB8;
}

/* work wrapper */

.work-wrapper {
	padding-top: 65px;
	padding-bottom: 100px;
}

.work-wrapper h1 {
	font-size:140px;
	-webkit-text-stroke: 3px #526CB8;
	text-shadow:
     4px 4px 0 #FB9B8E;
}

.work-wrapper h2 {
	font-family: 'apercu';
	font-size: 20px;
	line-height: 30px;
	color: #454545;
}

.work-cells {
	padding-top: 60px;
	padding-bottom: 100px;
}

.work-cells h1 {
	padding-top: 5px;
	font-size: 30px;
	color: #454545;
}

.work-cells img:hover {
	outline: 3px solid #526CB8;
	outline-offset: 4px;
	box-shadow: 11px 11px 0 #FB9B8E;
}

.row.items {
	padding-bottom: 50px;
}


/* details wrapper */
.details-wrapper {
	padding-top: 80px;
	padding-bottom: 200px;
}

.details-wrapper h1 {
	color: #526CB8;
	font-size:100px;
	-webkit-text-stroke: 3px white;
	text-shadow:
     4px 4px 0 #FB9B8E;
}

.details-wrapper h2 {
	font-family: 'apercu-medium';
	font-size: 16px;
	line-height: 30px;
	color: white;
	letter-spacing: 5px;
	text-transform: uppercase;
}

.details-wrapper h3 {
	font-family: 'apercu-medium-italic';
	font-size: 22px;
	line-height: 30px;
	color: white;
	letter-spacing: 2px;
}

.details-wrapper a {
	color: #FB9B8E;
}

.details-wrapper a:hover {
	color: white;
	text-decoration: none;
}

/* overview wrapper */
.overview {
	padding-bottom: 30px;
}

.overview-wrapper {
	padding-top: 80px;

}

.overview-wrapper#white {
	padding-top: 80px;
	background-color: white;

}

.overview-wrapper#pink {
	padding-top: 80px;
	background-color: #FB9B8E;

}

.overview-wrapper#white h1 {
	color: #424242;
	font-family: 'apercu-medium';
	font-size: 24px;
	letter-spacing: 3px;
	text-transform: uppercase;

}

.overview-wrapper#white h2 {
	color: #424242;
	font-family: 'apercu-bold';
	font-size: 30px;
	letter-spacing: 3px;

}

.overview-wrapper#white p {
	color: #7B7B7B;
	font-family: 'apercu';
	font-size: 20px;
}

.overview-wrapper#pink h1 {
	color: white;
	font-family: 'apercu-medium';
	font-size: 24px;
	letter-spacing: 3px;
	text-transform: uppercase;

}

.overview-wrapper#pink p {
	color: white;
	font-family: 'apercu';
	font-size: 20px;
}

.overview-wrapper a {
	color: #FB9B8E;
}

.overview-wrapper a:hover {
	color: white;
	text-decoration: none;
}

.overview-wrapper#pink a {
	color: #526CB8;
}
.overview-wrapper#pink a:hover {
	color: white;
	text-decoration: none;
}

button.overview-button{
  padding-top: 30px;
  color: white;
  background-color: #526CB8;
  border: none;
  outline: none;
  font-size: 20px;
  cursor: pointer;
}

.overview-button i {
	padding-left: 2px;
	padding-right: 3px;

}

.overview-button:hover {
	color: #FB9B8E;
}


/* filter */

.filterbutton {
	color: #979797;
	background-color: white;
	border-radius: 24px;
	width: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 16px;
	font-family: 'apercu';
	border:none;
	outline: none;
	text-align: center;
	width: 100%;
	cursor: pointer;
}

.filterbutton.active {
	color: white;
	background-color: #FB9B8E;
	border-radius: 24px;
	width: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 16px;
	font-family: 'apercu';
	border:none;
	outline: none;
	text-align: center;
	width: 100%;
	cursor: pointer;
}

.hide {
  display: none;
}

.show {
	display: block;
}

/* nav bar */
.index-navbar a:hover{
	color: #FB9B8E !important;
}
.index-navbar .nav-link {
	color: white !important;
}
.index-navbar .navbar-nav > li{
	margin-top: 1.2em !important;
	margin-left:1.2em !important;
	margin-right:1.2em !important;
}

.about-navbar a:hover{
	color: #FB9B8E !important;
}
.about-navbar .nav-link {
	color: #526CB8 !important;
}
.about-navbar .active {
	color: #FB9B8E !important;
}
.about-navbar .navbar-nav > li{
	margin-top: 1.2em !important;
	margin-left:1.2em !important;
	margin-right:1.2em !important;
}

.details-navbar a:hover{
	color: #FB9B8E !important;
}
.details-navbar .nav-link {
	color: white !important;
}

.details-navbar .navbar-nav > li{
	margin-top: 1.2em !important;
	margin-left:1.2em !important;
	margin-right:1.2em !important;
}

.navbar-brand {
	margin-top: 1.2em !important;
	margin-left:1.2em !important;
	margin-right:1.2em !important;
}

/* fa icon */
.index-navbar .fa-bars {
	color: white !important;
}

.index-navbar .fa-bars:hover {
	color: #FB9B8E !important;
}

.about-navbar .fa-bars {
	color: #526CB8 !important;
}

.about-navbar .fa-bars:hover {
	color: #FB9B8E !important;
}

